<h1>Stats Calculation</h1>

    <p><strong>Numbers</strong></br>
        <%= @numbers %>
    </p>
    <p><strong>Sorted Numbers</strong></br>
        <%= @sorted_numbers %>
    </p>
    <p><strong>Count</strong></br>
        <%= @count %>
    </p>
    <p><strong>Minimum</strong></br>
        <%= @minimum %>
    </p>
    <p><strong>Maximum</strong></br>
        <%= @maximum %>
    </p>
    </br>
    <p><strong>Range</strong></br>
        <%= @range %>
    </p>
    </br>
    <p><strong>Median</strong></br>
        <%= @median %>
    </p>
    </br>
    <p><strong>Range</strong></br>
        <%= @range %>
    </p>
    </br>
    <p><a href=https://omnicalc-params-elliolson.c9users.io/stats_calculation/new>Calculate more descriptive statistics</a></p>
