<h1>Random Results</h1>

    <p><strong>Text</strong></br>
        <%= @text %>
    </p>
    <p><strong>Word Count</strong></br>
        <%= @word_count %>
    </p>
    <p><strong>Character Count (with spaces)</strong></br>
        <%= @character_count_with_spaces %>
    </p>
    <p><strong>Character Count (without spaces)</strong></br>
        <%= @character_count_without_spaces %>
    </p>
    <p><strong>Occurrences of <%= %></strong></br>
        <%= @occurrences %>
    </p>
    </br>
    <p><a href=https://omnicalc-params-elliolson.c9users.io/word_count/new>Process more text</a></p>
